:root {
  --font-body: "Gilroy";
  --border-radius: 32px;
  --main-color: #ffc400;
  --text-white: #fff;
  --normal-font-size: 1rem;
  --text-color: #212121;
  --section-bg: #fafafa;
  --section-gap: 2.5rem;
  --sales-bar-bg: #252525;
}

@media screen and (min-width: 767px) {
  :root {
    --normal-font-size: 1.3rem;
    --section-gap: 3.5rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-body);
  font-weight: 400;
  font-size: var(--normal-font-size);
  color: var(--text-color);
}

.main {
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding: var(--section-gap) 0;
}

.hamburger {
  position: absolute;
  height: 2.5px;
  width: 30px;
  top: 50%;
  left: 50%;
  border-radius: 50px;
  background-color: #252525;
  -webkit-transform: translate(-50%, -50%) rotate(0deg);
  transform: translate(-50%, -50%) rotate(0deg);
  transition: all ease 0.5s;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  height: inherit;
  border-radius: inherit;
  background-color: inherit;
  width: 50%;
  transition: all ease 0.5s;
}

.hamburger::before {
  top: -7px;
  left: 0;
  transform-origin: left;
}

.hamburger::after {
  bottom: -7px;
  right: 0;
  transform-origin: right;
}

.hamburger.open {
  transform: translate(-50%, -50%) rotate(135deg);
}

.hamburger.open::before {
  top: 0;
  transform: translateX(100%) rotate(-90deg);
}

.hamburger.open::after {
  bottom: 0;
  transform: translateX(-100%) rotate(-90deg);
}
.mobileMenu {
  margin-top: 40px;
  background: #fff;
  position: fixed;
  padding: 100px 20px;
  z-index: 13;
  top: 64px;
  width: 0;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  overflow-y: auto;
  text-align: center;
}

.mobileMenu.active {
  visibility: visible;
  opacity: 1;
  width: 100%;
  transition: opacity 1s cubic-bezier(0.73, -0.44, 0.16, 1.56);
}

.mobileMenu .menu {
  display: block !important;
}

.mobileMenu .mobileItem {
  margin: 30px 0;
  font-size: 20px;
  font-weight: bold;
  font-family: inherit;
  text-transform: uppercase;
}
